node-red/Projects/battery-tracker.json
[
    {
        "id": "61a652c9.fcba9c",
        "type": "subflow",
        "name": "Compose",
        "info": "",
        "category": "bricks",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "be545e24.9aa31"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 40,
                "wires": [
                    {
                        "id": "1b6bf0a5.50ff0f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "key",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-bolt",
                    "label": {
                        "en-US": "Key"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "value",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-comment-o",
                    "label": {
                        "en-US": "Value"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "delay",
                "type": "num",
                "value": "0",
                "ui": {
                    "icon": "font-awesome/fa-clock-o",
                    "label": {
                        "en-US": "Delay (ms)"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "color": "#C7E9C0",
        "icon": "font-awesome/fa-file-text"
    },
    {
        "id": "1b6bf0a5.50ff0f",
        "type": "delay",
        "z": "61a652c9.fcba9c",
        "name": "Delay",
        "pauseType": "delayv",
        "timeout": "0",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 630,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "45b2f3b4.06b84c",
        "type": "change",
        "z": "61a652c9.fcba9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 40,
        "wires": [
            [
                "1b6bf0a5.50ff0f"
            ]
        ]
    },
    {
        "id": "be545e24.9aa31",
        "type": "function",
        "z": "61a652c9.fcba9c",
        "name": "Set key & payload",
        "func": "msg.key = env.get(\"key\") || msg.key\nmsg.payload = env.get(\"value\") || msg.payload\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 40,
        "wires": [
            [
                "45b2f3b4.06b84c"
            ]
        ]
    },
    {
        "id": "a3a2426c.d3bf6",
        "type": "subflow",
        "name": "Filter",
        "info": "# Filter\n\nUse this to filter input from Bricks.\n\nUnfortunately can't set a dynamic topic for MQTT, so instead this receives _everything_, then filters it.",
        "category": "bricks",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "12814906.bf21d7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 40,
                "wires": [
                    {
                        "id": "46648d7a.45abd4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "key",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-bolt",
                    "label": {
                        "en-US": "Key"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "payload",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-align-left",
                    "label": {
                        "en-US": "Payload"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#C7E9C0",
        "icon": "font-awesome/fa-filter"
    },
    {
        "id": "12814906.bf21d7",
        "type": "switch",
        "z": "a3a2426c.d3bf6",
        "name": "Filter by key",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "key",
                "vt": "env",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 40,
        "wires": [
            [
                "46648d7a.45abd4"
            ]
        ]
    },
    {
        "id": "46648d7a.45abd4",
        "type": "switch",
        "z": "a3a2426c.d3bf6",
        "name": "Filter by payload",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "payload",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "828761ad.f21bd",
        "type": "subflow",
        "name": "Brick",
        "info": "",
        "category": "bricks",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "ae27039.97d81"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 140,
                "wires": [
                    {
                        "id": "127382d8.f9bbbd",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "mac",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-address-card-o",
                    "label": {
                        "en-US": "MAC"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "TOPIC_PREFIX",
                "type": "str",
                "value": "accounts/balvig/bricks",
                "ui": {
                    "type": "hide",
                    "opts": {}
                }
            }
        ],
        "color": "#C7E9C0",
        "icon": "font-awesome/fa-cube"
    },
    {
        "id": "726e72cd.52d94c",
        "type": "mqtt out",
        "z": "828761ad.f21bd",
        "name": "Bricks out",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "69cfef51.baf9",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "ae27039.97d81",
        "type": "function",
        "z": "828761ad.f21bd",
        "name": "Compose topic",
        "func": "msg.topic = [\n    env.get(\"TOPIC_PREFIX\"),\n    \"out\",\n    env.get(\"mac\") || msg.mac,\n    msg.key\n].join(\"/\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "726e72cd.52d94c"
            ]
        ]
    },
    {
        "id": "2ebfb91e.bd6c76",
        "type": "mqtt in",
        "z": "828761ad.f21bd",
        "name": "Bricks in",
        "topic": "accounts/balvig/bricks/in/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "69cfef51.baf9",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "e00de14f.8bc2b"
            ]
        ],
        "info": "Why can't topic be `$(TOPIC_PREFIX)/in/#`"
    },
    {
        "id": "127382d8.f9bbbd",
        "type": "switch",
        "z": "828761ad.f21bd",
        "name": "Filter by MAC",
        "property": "mac",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "mac",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e00de14f.8bc2b",
        "type": "function",
        "z": "828761ad.f21bd",
        "name": "Parse MAC / Key",
        "func": "let parts = msg.topic.split(\"/\").reverse()\nmsg.key = parts[0]\nmsg.mac = parts[1]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "127382d8.f9bbbd"
            ]
        ]
    },
    {
        "id": "69cfef51.baf9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.sensetecnic.com",
        "port": "1883",
        "clientid": "bricks-nodered",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2fb6ce1e.a0c412",
        "type": "tab",
        "label": "Battery Tracker",
        "disabled": false,
        "info": ""
    },
    {
        "id": "63be5b80.10da34",
        "type": "subflow:828761ad.f21bd",
        "z": "2fb6ce1e.a0c412",
        "name": "All bricks",
        "env": [],
        "x": 100,
        "y": 100,
        "wires": [
            [
                "6142d090.6e7bd",
                "f336df4e.a80ae"
            ]
        ]
    },
    {
        "id": "6142d090.6e7bd",
        "type": "subflow:a3a2426c.d3bf6",
        "z": "2fb6ce1e.a0c412",
        "name": "ack:battery",
        "env": [
            {
                "name": "key",
                "value": "ack:battery",
                "type": "str"
            }
        ],
        "x": 270,
        "y": 100,
        "wires": [
            [
                "417addc9.5137c4"
            ]
        ]
    },
    {
        "id": "eaa5f287.27ff1",
        "type": "subflow:61a652c9.fcba9c",
        "z": "2fb6ce1e.a0c412",
        "name": "battery",
        "env": [
            {
                "name": "key",
                "value": "battery",
                "type": "str"
            }
        ],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "63be5b80.10da34"
            ]
        ]
    },
    {
        "id": "f336df4e.a80ae",
        "type": "subflow:a3a2426c.d3bf6",
        "z": "2fb6ce1e.a0c412",
        "name": "Awake",
        "env": [
            {
                "name": "key",
                "value": "awake",
                "type": "str"
            }
        ],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "eaa5f287.27ff1"
            ]
        ]
    },
    {
        "id": "2b0d8a7d.0cebe6",
        "type": "ui_chart",
        "z": "2fb6ce1e.a0c412",
        "name": "",
        "group": "40884691.884108",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Batteries",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "600",
        "ymax": "",
        "removeOlder": "14",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 880,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "28843f95.12b23",
        "type": "litedb",
        "z": "2fb6ce1e.a0c412",
        "name": "",
        "x": 610,
        "y": 100,
        "wires": [
            [
                "59c760b6.bdaae"
            ]
        ]
    },
    {
        "id": "417addc9.5137c4",
        "type": "function",
        "z": "2fb6ce1e.a0c412",
        "name": "look up name",
        "func": "var sql = `\nSELECT name FROM devices where mac='${msg.mac}' LIMIT 1\n`\n\nmsg.topic = sql\nmsg.originalPayload = msg.payload\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "28843f95.12b23"
            ]
        ]
    },
    {
        "id": "59c760b6.bdaae",
        "type": "function",
        "z": "2fb6ce1e.a0c412",
        "name": "set topic",
        "func": "let result = msg.payload[0]\nif(result) {\n    msg.topic = result.name\n}\nelse {\n    msg.topic = msg.mac\n}\n\nmsg.payload = msg.originalPayload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 100,
        "wires": [
            [
                "2b0d8a7d.0cebe6"
            ]
        ]
    },
    {
        "id": "40884691.884108",
        "type": "ui_group",
        "name": "Playground",
        "tab": "6e72a433.d464dc",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6e72a433.d464dc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]