node-red/Projects/universal-remote.json
[
    {
        "id": "828761ad.f21bd",
        "type": "subflow",
        "name": "Brick",
        "info": "",
        "category": "bricks",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "ae27039.97d81"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 140,
                "wires": [
                    {
                        "id": "127382d8.f9bbbd",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "mac",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-address-card-o",
                    "label": {
                        "en-US": "MAC"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "TOPIC_PREFIX",
                "type": "str",
                "value": "accounts/balvig/bricks",
                "ui": {
                    "type": "hide",
                    "opts": {}
                }
            }
        ],
        "color": "#C7E9C0",
        "icon": "font-awesome/fa-cube"
    },
    {
        "id": "726e72cd.52d94c",
        "type": "mqtt out",
        "z": "828761ad.f21bd",
        "name": "Bricks out",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "69cfef51.baf9",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "ae27039.97d81",
        "type": "function",
        "z": "828761ad.f21bd",
        "name": "Compose topic",
        "func": "msg.topic = [\n    env.get(\"TOPIC_PREFIX\"),\n    \"out\",\n    env.get(\"mac\") || msg.mac,\n    msg.key\n].join(\"/\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "726e72cd.52d94c"
            ]
        ]
    },
    {
        "id": "2ebfb91e.bd6c76",
        "type": "mqtt in",
        "z": "828761ad.f21bd",
        "name": "Bricks in",
        "topic": "accounts/balvig/bricks/in/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "69cfef51.baf9",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "e00de14f.8bc2b"
            ]
        ],
        "info": "Why can't topic be `$(TOPIC_PREFIX)/in/#`"
    },
    {
        "id": "127382d8.f9bbbd",
        "type": "switch",
        "z": "828761ad.f21bd",
        "name": "Filter by MAC",
        "property": "mac",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "mac",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e00de14f.8bc2b",
        "type": "function",
        "z": "828761ad.f21bd",
        "name": "Parse MAC / Key",
        "func": "let parts = msg.topic.split(\"/\").reverse()\nmsg.key = parts[0]\nmsg.mac = parts[1]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "127382d8.f9bbbd"
            ]
        ]
    },
    {
        "id": "69cfef51.baf9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.sensetecnic.com",
        "port": "1883",
        "clientid": "bricks-nodered",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61a652c9.fcba9c",
        "type": "subflow",
        "name": "Compose",
        "info": "",
        "category": "bricks",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "be545e24.9aa31"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 40,
                "wires": [
                    {
                        "id": "1b6bf0a5.50ff0f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "key",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-bolt",
                    "label": {
                        "en-US": "Key"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "value",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-comment-o",
                    "label": {
                        "en-US": "Value"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "delay",
                "type": "num",
                "value": "0",
                "ui": {
                    "icon": "font-awesome/fa-clock-o",
                    "label": {
                        "en-US": "Delay (ms)"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "color": "#C7E9C0",
        "icon": "font-awesome/fa-file-text"
    },
    {
        "id": "1b6bf0a5.50ff0f",
        "type": "delay",
        "z": "61a652c9.fcba9c",
        "name": "Delay",
        "pauseType": "delayv",
        "timeout": "0",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 630,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "45b2f3b4.06b84c",
        "type": "change",
        "z": "61a652c9.fcba9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 40,
        "wires": [
            [
                "1b6bf0a5.50ff0f"
            ]
        ]
    },
    {
        "id": "be545e24.9aa31",
        "type": "function",
        "z": "61a652c9.fcba9c",
        "name": "Set key & payload",
        "func": "msg.key = env.get(\"key\") || msg.key\nmsg.payload = env.get(\"value\") || msg.payload\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 40,
        "wires": [
            [
                "45b2f3b4.06b84c"
            ]
        ]
    },
    {
        "id": "a3a2426c.d3bf6",
        "type": "subflow",
        "name": "Filter",
        "info": "# Filter\n\nUse this to filter input from Bricks.\n\nUnfortunately can't set a dynamic topic for MQTT, so instead this receives _everything_, then filters it.",
        "category": "bricks",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "12814906.bf21d7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 40,
                "wires": [
                    {
                        "id": "46648d7a.45abd4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "key",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-bolt",
                    "label": {
                        "en-US": "Key"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "payload",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-align-left",
                    "label": {
                        "en-US": "Payload"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#C7E9C0",
        "icon": "font-awesome/fa-filter"
    },
    {
        "id": "12814906.bf21d7",
        "type": "switch",
        "z": "a3a2426c.d3bf6",
        "name": "Filter by key",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "key",
                "vt": "env",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 40,
        "wires": [
            [
                "46648d7a.45abd4"
            ]
        ]
    },
    {
        "id": "46648d7a.45abd4",
        "type": "switch",
        "z": "a3a2426c.d3bf6",
        "name": "Filter by payload",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "payload",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b4379566.3bde38",
        "type": "tab",
        "label": "Universal Remote",
        "disabled": false,
        "info": ""
    },
    {
        "id": "35c0d74d.1fe188",
        "type": "subflow:a3a2426c.d3bf6",
        "z": "b4379566.3bde38",
        "name": "Blue button",
        "env": [
            {
                "name": "key",
                "value": "received",
                "type": "str"
            },
            {
                "name": "payload",
                "value": "0x20DF8679",
                "type": "str"
            }
        ],
        "x": 210,
        "y": 100,
        "wires": [
            [
                "8847b6ec.376878"
            ]
        ]
    },
    {
        "id": "96028332.b5996",
        "type": "subflow:a3a2426c.d3bf6",
        "z": "b4379566.3bde38",
        "name": "Yellow button",
        "env": [
            {
                "name": "key",
                "value": "received",
                "type": "str"
            },
            {
                "name": "payload",
                "value": "0x20DFC639",
                "type": "str"
            }
        ],
        "x": 220,
        "y": 180,
        "wires": [
            [
                "e40080c2.7f65c"
            ]
        ]
    },
    {
        "id": "174c57e0.5aa068",
        "type": "subflow:61a652c9.fcba9c",
        "z": "b4379566.3bde38",
        "name": "Send",
        "env": [
            {
                "name": "key",
                "value": "send",
                "type": "str"
            }
        ],
        "x": 590,
        "y": 140,
        "wires": [
            [
                "58a246df.768b48"
            ]
        ]
    },
    {
        "id": "8847b6ec.376878",
        "type": "change",
        "z": "b4379566.3bde38",
        "name": "Dim Lights",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "174c57e0.5aa068"
            ]
        ]
    },
    {
        "id": "e40080c2.7f65c",
        "type": "change",
        "z": "b4379566.3bde38",
        "name": "Turn on lights",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "174c57e0.5aa068"
            ]
        ]
    },
    {
        "id": "9c191a71.f82878",
        "type": "subflow:828761ad.f21bd",
        "z": "b4379566.3bde38",
        "name": "IR Brick",
        "env": [
            {
                "name": "mac",
                "value": "da:f1:5b:14:6f:fc",
                "type": "str"
            }
        ],
        "x": 220,
        "y": 280,
        "wires": [
            [
                "e8578e72.b06fa"
            ]
        ]
    },
    {
        "id": "df9245bc.bceff8",
        "type": "link in",
        "z": "b4379566.3bde38",
        "name": "",
        "links": [
            "58a246df.768b48"
        ],
        "x": 115,
        "y": 280,
        "wires": [
            [
                "9c191a71.f82878"
            ]
        ]
    },
    {
        "id": "e8578e72.b06fa",
        "type": "link out",
        "z": "b4379566.3bde38",
        "name": "",
        "links": [
            "76dd62.062462a"
        ],
        "x": 315,
        "y": 280,
        "wires": []
    },
    {
        "id": "58a246df.768b48",
        "type": "link out",
        "z": "b4379566.3bde38",
        "name": "",
        "links": [
            "df9245bc.bceff8"
        ],
        "x": 695,
        "y": 140,
        "wires": []
    },
    {
        "id": "76dd62.062462a",
        "type": "link in",
        "z": "b4379566.3bde38",
        "name": "",
        "links": [
            "e8578e72.b06fa"
        ],
        "x": 75,
        "y": 140,
        "wires": [
            [
                "35c0d74d.1fe188",
                "96028332.b5996"
            ]
        ]
    }
]