node-red/brick.json
[
    {
        "id": "828761ad.f21bd",
        "type": "subflow",
        "name": "Brick",
        "info": "",
        "category": "bricks",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "ae27039.97d81"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 140,
                "wires": [
                    {
                        "id": "127382d8.f9bbbd",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "mac",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-address-card-o",
                    "label": {
                        "en-US": "MAC"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "TOPIC_PREFIX",
                "type": "str",
                "value": "accounts/balvig/bricks",
                "ui": {
                    "type": "hide",
                    "opts": {}
                }
            }
        ],
        "color": "#C7E9C0",
        "icon": "node-red/redis.png"
    },
    {
        "id": "726e72cd.52d94c",
        "type": "mqtt out",
        "z": "828761ad.f21bd",
        "name": "Bricks out",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "69cfef51.baf9",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "ae27039.97d81",
        "type": "function",
        "z": "828761ad.f21bd",
        "name": "Compose topic",
        "func": "msg.topic = [\n    env.get(\"TOPIC_PREFIX\"),\n    \"out\",\n    env.get(\"mac\") || msg.mac,\n    msg.key\n].join(\"/\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "726e72cd.52d94c"
            ]
        ]
    },
    {
        "id": "2ebfb91e.bd6c76",
        "type": "mqtt in",
        "z": "828761ad.f21bd",
        "name": "Bricks in",
        "topic": "accounts/balvig/bricks/in/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "69cfef51.baf9",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "e00de14f.8bc2b"
            ]
        ],
        "info": "Why can't topic be `$(TOPIC_PREFIX)/in/#`"
    },
    {
        "id": "127382d8.f9bbbd",
        "type": "switch",
        "z": "828761ad.f21bd",
        "name": "Filter by MAC",
        "property": "mac",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "mac",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e00de14f.8bc2b",
        "type": "function",
        "z": "828761ad.f21bd",
        "name": "Parse MAC / Key",
        "func": "let parts = msg.topic.split(\"/\").reverse()\nmsg.key = parts[0]\nmsg.mac = parts[1]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "127382d8.f9bbbd"
            ]
        ]
    },
    {
        "id": "69cfef51.baf9",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.sensetecnic.com",
        "port": "1883",
        "clientid": "bricks-nodered",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]