node-red/ping-pong.json
[
    {
        "id": "a3a2426c.d3bf6",
        "type": "subflow",
        "name": "Filter",
        "info": "# Filter\n\nUse this to filter input from Bricks.\n\nUnfortunately can't set a dynamic topic for MQTT, so instead this receives _everything_, then filters it.",
        "category": "bricks",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "12814906.bf21d7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 40,
                "wires": [
                    {
                        "id": "46648d7a.45abd4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "key",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-bolt",
                    "label": {
                        "en-US": "Key"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "payload",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-align-left",
                    "label": {
                        "en-US": "Payload"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#C7E9C0",
        "icon": "font-awesome/fa-filter"
    },
    {
        "id": "12814906.bf21d7",
        "type": "switch",
        "z": "a3a2426c.d3bf6",
        "name": "Filter by key",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "key",
                "vt": "env",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 40,
        "wires": [
            [
                "46648d7a.45abd4"
            ]
        ]
    },
    {
        "id": "46648d7a.45abd4",
        "type": "switch",
        "z": "a3a2426c.d3bf6",
        "name": "Filter by payload",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "payload",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "828761ad.f21bd",
        "type": "subflow",
        "name": "Brick",
        "info": "",
        "category": "bricks",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "ae27039.97d81"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 140,
                "wires": [
                    {
                        "id": "127382d8.f9bbbd",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "mac",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-address-card-o",
                    "label": {
                        "en-US": "MAC"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "TOPIC_PREFIX",
                "type": "str",
                "value": "accounts/balvig/bricks",
                "ui": {
                    "type": "hide",
                    "opts": {}
                }
            }
        ],
        "color": "#C7E9C0",
        "icon": "font-awesome/fa-cube"
    },
    {
        "id": "726e72cd.52d94c",
        "type": "mqtt out",
        "z": "828761ad.f21bd",
        "name": "Bricks out",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "69cfef51.baf9",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "ae27039.97d81",
        "type": "function",
        "z": "828761ad.f21bd",
        "name": "Compose topic",
        "func": "msg.topic = [\n    env.get(\"TOPIC_PREFIX\"),\n    \"out\",\n    env.get(\"mac\") || msg.mac,\n    msg.key\n].join(\"/\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "726e72cd.52d94c"
            ]
        ]
    },
    {
        "id": "2ebfb91e.bd6c76",
        "type": "mqtt in",
        "z": "828761ad.f21bd",
        "name": "Bricks in",
        "topic": "accounts/balvig/bricks/in/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "69cfef51.baf9",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "e00de14f.8bc2b"
            ]
        ],
        "info": "Why can't topic be `$(TOPIC_PREFIX)/in/#`"
    },
    {
        "id": "127382d8.f9bbbd",
        "type": "switch",
        "z": "828761ad.f21bd",
        "name": "Filter by MAC",
        "property": "mac",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "mac",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e00de14f.8bc2b",
        "type": "function",
        "z": "828761ad.f21bd",
        "name": "Parse MAC / Key",
        "func": "let parts = msg.topic.split(\"/\").reverse()\nmsg.key = parts[0]\nmsg.mac = parts[1]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "127382d8.f9bbbd"
            ]
        ]
    },
    {
        "id": "69cfef51.baf9",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.sensetecnic.com",
        "port": "1883",
        "clientid": "bricks-nodered",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c829e851.77b118",
        "type": "subflow",
        "name": "format time",
        "info": "",
        "category": "bricks",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "303e8462.4800cc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 640,
                "y": 80,
                "wires": [
                    {
                        "id": "25b52c39.535b54",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "FIELD",
                "type": "str",
                "value": "time"
            },
            {
                "name": "TIMEZONE",
                "type": "str",
                "value": "Asia/Tokyo"
            },
            {
                "name": "FORMAT",
                "type": "str",
                "value": "MM/DD - HH:mm:ss"
            }
        ],
        "color": "#E6E0F8",
        "icon": "font-awesome/fa-clock-o"
    },
    {
        "id": "9e515fc8.b91cf",
        "type": "moment",
        "z": "c829e851.77b118",
        "name": "Moment.js",
        "topic": "",
        "input": "formattedTime",
        "inputType": "msg",
        "inTz": "Etc/UTC",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "$(FORMAT)",
        "locale": "\"POSIX\"",
        "output": "formattedTime",
        "outputType": "msg",
        "outTz": "$(TIMEZONE)",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "25b52c39.535b54"
            ]
        ]
    },
    {
        "id": "25b52c39.535b54",
        "type": "function",
        "z": "c829e851.77b118",
        "name": "Move back",
        "func": "let field = env.get(\"FIELD\");\nmsg.payload[field] = msg.formattedTime;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "303e8462.4800cc",
        "type": "function",
        "z": "c829e851.77b118",
        "name": "Move out",
        "func": "let field = env.get(\"FIELD\");\nmsg.formattedTime = msg.payload[field];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "9e515fc8.b91cf"
            ]
        ]
    },
    {
        "id": "5cc01b87.5b1a24",
        "type": "tab",
        "label": "Ping-Pong",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4b22d03d.92f74",
        "type": "litedb",
        "z": "5cc01b87.5b1a24",
        "name": "",
        "x": 530,
        "y": 120,
        "wires": [
            [
                "e19130c6.f2df1"
            ]
        ]
    },
    {
        "id": "d12d5d0.3ac6aa",
        "type": "function",
        "z": "5cc01b87.5b1a24",
        "name": "insert record",
        "func": "var sql = `\nINSERT OR REPLACE INTO devices (mac, name, time)\nVALUES(\n  \"${msg.topic.split(\"/\").reverse()[1]}\",\n  \"${msg.payload.split(\"-\")[0].trim()}\",\n  \"${+new Date()}\"\n);\n`\nvar newMsg = { \"topic\": sql }\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "4b22d03d.92f74"
            ]
        ]
    },
    {
        "id": "e8c8a447.70c3b8",
        "type": "ui_template",
        "z": "5cc01b87.5b1a24",
        "group": "d5696cc3.b218b",
        "name": "UI Table",
        "order": 1,
        "width": "6",
        "height": "6",
        "format": "<table style=\"width:100%;font-size:0.8rem;\">\n  <tr>\n    <th style=\"text-align:left;\">Mac</th> \n    <th style=\"text-align:left\">Name</th>\n    <th style=\"text-align:left\">Last seen</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload\" class=\"{{msg.payload[$index].old ? 'text-gray-400 line-through' : ''}}\">\n    <td>\n        <a href=\"#\" class=\"underline\" ng-click=\"send({topic:msg.payload[$index].mac})\">{{msg.payload[$index].mac}}</a>\n    </td>\n    <td>{{msg.payload[$index].name}}</td> \n    <td>{{msg.payload[$index].time}}</td> \n  </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 800,
        "y": 200,
        "wires": [
            [
                "e19130c6.f2df1",
                "63f26d33.646b34"
            ]
        ]
    },
    {
        "id": "73f2d8bb.258068",
        "type": "litedb",
        "z": "5cc01b87.5b1a24",
        "name": "",
        "x": 530,
        "y": 160,
        "wires": [
            [
                "f142050.9aeb5f8"
            ]
        ]
    },
    {
        "id": "e19130c6.f2df1",
        "type": "function",
        "z": "5cc01b87.5b1a24",
        "name": "read records",
        "func": "var sql = `\nSELECT * FROM devices ORDER BY time DESC;\n`\nvar newMsg = { \"topic\": sql }\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "73f2d8bb.258068"
            ]
        ]
    },
    {
        "id": "9b0e61db.e4759",
        "type": "function",
        "z": "5cc01b87.5b1a24",
        "name": "create database",
        "func": "var sql = `\nCREATE TABLE devices(\n  mac STRING PRIMARY KEY NOT NULL, \n  name STRING,\n  time INT\n)\n`\nvar newMsg = { \"topic\": sql }\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 380,
        "wires": [
            [
                "ccc95973.746608"
            ]
        ]
    },
    {
        "id": "371413bf.791ecc",
        "type": "function",
        "z": "5cc01b87.5b1a24",
        "name": "drop database",
        "func": "var sql = `\nDROP TABLE IF EXISTS devices;\n`\nvar newMsg = { \"topic\": sql }\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 340,
        "wires": [
            [
                "427de7dd.8d0988"
            ]
        ]
    },
    {
        "id": "427de7dd.8d0988",
        "type": "litedb",
        "z": "5cc01b87.5b1a24",
        "name": "",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "9b0e61db.e4759"
            ]
        ]
    },
    {
        "id": "ccc95973.746608",
        "type": "litedb",
        "z": "5cc01b87.5b1a24",
        "name": "",
        "x": 470,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "24abb755.19f168",
        "type": "inject",
        "z": "5cc01b87.5b1a24",
        "name": "Initialize DB",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "371413bf.791ecc"
            ]
        ]
    },
    {
        "id": "f142050.9aeb5f8",
        "type": "split",
        "z": "5cc01b87.5b1a24",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 670,
        "y": 160,
        "wires": [
            [
                "ec9df7ea.336eb8"
            ]
        ]
    },
    {
        "id": "8ec61f97.0e702",
        "type": "join",
        "z": "5cc01b87.5b1a24",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "e8c8a447.70c3b8"
            ]
        ]
    },
    {
        "id": "ae6eeeea.67fad",
        "type": "litedb",
        "z": "5cc01b87.5b1a24",
        "name": "",
        "x": 530,
        "y": 260,
        "wires": [
            [
                "e19130c6.f2df1"
            ]
        ]
    },
    {
        "id": "2f37d855.7da478",
        "type": "inject",
        "z": "5cc01b87.5b1a24",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "e19130c6.f2df1"
            ]
        ]
    },
    {
        "id": "af945db0.b9386",
        "type": "subflow:c829e851.77b118",
        "z": "5cc01b87.5b1a24",
        "name": "",
        "env": [
            {
                "name": "FORMAT",
                "value": "timeAgo",
                "type": "str"
            }
        ],
        "x": 970,
        "y": 160,
        "wires": [
            [
                "8ec61f97.0e702"
            ]
        ]
    },
    {
        "id": "f9825865.88b3d8",
        "type": "function",
        "z": "5cc01b87.5b1a24",
        "name": "update last seen",
        "func": "var sql = `\nUPDATE devices SET time = \"${+new Date()}\"\nWHERE mac = \"${msg.topic.split(\"/\").reverse()[1]}\"\n;\n`\nvar newMsg = { \"topic\": sql }\n\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "ae6eeeea.67fad"
            ]
        ]
    },
    {
        "id": "63f26d33.646b34",
        "type": "link out",
        "z": "5cc01b87.5b1a24",
        "name": "",
        "links": [
            "572261d6.7fe"
        ],
        "x": 915,
        "y": 200,
        "wires": []
    },
    {
        "id": "ec9df7ea.336eb8",
        "type": "function",
        "z": "5cc01b87.5b1a24",
        "name": "Add old flag",
        "func": "let TIME_TO_GET_OLD = 3 * 86400000\nmsg.payload.old = Date.now() - msg.payload.time > TIME_TO_GET_OLD\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 160,
        "wires": [
            [
                "af945db0.b9386"
            ]
        ]
    },
    {
        "id": "126e9d25.38f943",
        "type": "subflow:828761ad.f21bd",
        "z": "5cc01b87.5b1a24",
        "name": "All bricks",
        "env": [],
        "x": 80,
        "y": 260,
        "wires": [
            [
                "f9825865.88b3d8",
                "5cd1f18d.13616"
            ]
        ]
    },
    {
        "id": "5cd1f18d.13616",
        "type": "subflow:a3a2426c.d3bf6",
        "z": "5cc01b87.5b1a24",
        "name": "Awake",
        "env": [
            {
                "name": "key",
                "value": "awake",
                "type": "str"
            }
        ],
        "x": 250,
        "y": 120,
        "wires": [
            [
                "d12d5d0.3ac6aa"
            ]
        ]
    },
    {
        "id": "d5696cc3.b218b",
        "type": "ui_group",
        "z": "",
        "name": "Bricks",
        "tab": "6e72a433.d464dc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6e72a433.d464dc",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]